    body {
    }
    #main {
        background-color: #565656;
        width : 600px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    input{
        width:35px;
    }
    #topScores{
        margin: 10px;
        padding: 5px;
        background-color: #383838;
        border-radius: 5px;
    }
    #top5table{
        position: relative;
        width: 100%;
    }
    #ntoptable{
        float: ;
        position: relative;
        width: 100%;
        display: none;
    }
    #trackLists{
        background-color: #565656;
    }
    #navbuttons{
        float: right;
    }
    .navbutton{
        background: linear-gradient(#c2b89d 10px, #8a8169 15px);

    }
    #navcontainer{
        padding: 10px;
    }
    #namedisplay{
        width: 300px;
        float: left;
        background-color: #383838;
        border-radius: 5px;
        padding: 2px;
    }
    .tracknumberdisplay{
        float: right;
    }
    .tracknumberinput{
    }

    span.navbutton{
        padding-bottom: 8px;
        height: 20px;
    }
    #navMore{
        margin-left: 30%;
        width: 200px;
        height: 30px;
        overflow: auto;
    }
    #navbar{
        margin-bottom:2px;
        height:25px;
    }
    #trackScoreTable{
        border-radius: 5px;
        width:100%;
        background-color: #383838;
        padding-bottom: 10px;
    }
    td{
        text-align: center;
    }
    .tralt{
        background-color: #565656;

    }
    .first {
                        background: linear-gradient(#f3c527 10px, #d6a706 15px);
        background-color: #d6a706;
    }
    .second {
                                background: linear-gradient(#c3cad4 10px,  #aeaeae 15px);
        background-color: #aeaeae;
    }
    .third {
                                        background: linear-gradient(#da9550 10px,  #ba5d00 15px);
        background-color: #ba5d00;
    }
